.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 40px;
}

.login-btn {
  --background: #3e4b6c;
  --color: #fff;
  --border-radius: 30px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
}


.ver-icon {
  font-size: 22px;
  cursor: pointer;
  color: #666;
  margin-top: 29px !important; 
}
