<ion-header>
  <ion-toolbar style="--background: #000000; --color: white;">
    <ion-title>➕ Nuevo Paciente</ion-title>

    <ion-buttons slot="end" *ngIf="medicoActivo">
      <ion-button disabled fill="clear">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        {{ medicoActivo.doc_nombre }}
      </ion-button>

      <ion-button color="danger" fill="clear" (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding contenido-ajustada" [fullscreen]="true">
  <div class="tabla-scroll">
  <ion-grid class="tabla-responsive">
    <ion-row class="encabezado" >
      <ion-col size="1"><strong>Nombre Completo</strong></ion-col>
      <ion-col size="2"><strong>Cédula</strong></ion-col>
      <ion-col size="1.2"><strong>Fecha Nac.</strong></ion-col>
      <ion-col size="1.5"><strong>Género</strong></ion-col>
      <ion-col ><strong>Tipo de Sangre</strong></ion-col>
      <ion-col ><strong>Correo</strong></ion-col>
      <ion-col ><strong>Acciones</strong></ion-col>
  
    </ion-row>

    <ion-row *ngFor="let paciente of pacientes" class="fila">
      <ion-col size="1">{{ paciente.pac_nombre }} {{ paciente.pac_apellido }}</ion-col>
      <ion-col size="2">{{ paciente.pac_cedula }}</ion-col>
      <ion-col size="1.2">{{ formatearFecha(paciente.pac_fecnac) }}</ion-col>
      <ion-col size="1.5">{{ paciente.pac_genero }}</ion-col>
      <ion-col siz >{{ paciente.pac_tiposangre }}</ion-col>
      <ion-col >{{ paciente.pac_correo }}</ion-col>
       <ion-col>
          <!-- Botón Editar -->
          <ion-button size="small" fill="clear" (click)="editarPaciente(paciente.id_paciente)">
            <ion-icon name="create-outline" color="primary"></ion-icon>
          </ion-button>
          <!-- Botón Borrar -->
          <ion-button size="small" fill="clear" color="danger" (click)="confirmarEliminarPaciente(paciente.id_paciente)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>


<!-- Bottom Tab personalizada -->
<div class="tab-bar-custom">

  <div class="tab-item" [class.active]="tabSeleccionado === 'Inicio'" (click)="seleccionarTab('home')">
    <div class="icon-bg">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <span>Inicio</span>
  </div>

  <div class="tab-item" [class.active]="tabSeleccionado === 'diagnostico'"
    (click)="seleccionarTab('formulario-diagnostico')">
    <div class="icon-bg">
      <ion-icon name="pulse-outline"></ion-icon>
    </div>
    <span>Diagnóstico</span>
  </div>

  <div class="tab-item" [class.active]="tabSeleccionado === 'historial'"
    (click)="seleccionarTab('historial-diagnostico')">
    <div class="icon-bg">
      <ion-icon name="time-outline"></ion-icon>
    </div>
    <span>Historial</span>
  </div>

  <div class="tab-item" [class.active]="tabSeleccionado === 'Médicos'" (click)="seleccionarTab('historial-medicos')">
    <div class="icon-bg">
      <ion-icon name="medical-outline"></ion-icon>
    </div>
    <span>Medicos</span>
  </div>

   <div 
    class="tab-item" 
    [class.active]="tabSeleccionado === 'paciente'" 
    (click)="seleccionarTab('dashboard')">
    <div class="icon-bg">
      <ion-icon name="accessibility-outline"></ion-icon>
    </div>
    <span>Dashboard</span>
  </div>



  <div class="tab-item" [class.active]="tabSeleccionado === 'dashboard'" (click)="seleccionarTab('dashboard')">
    <div class="icon-bg">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </div>
    <span>Dashboard</span>
  </div>
</div>
