<ion-content class="ion-padding">

  <div class="grid">

    <div class="card custom-card rosa" (click)="irADiagnostico()">
      <span class="pill">Diagnóstico</span>
    </div>

    <div class="card custom-card azul" (click)="irAHistorial()">
      <span class="pill">Pacientes</span>
    </div>

     <div class="card custom-card verde" (click)="irAMed()">
      <span class="pill">Medicos</span>
    </div>
    
    <div class="card custom-card amarillo" (click)="irADash()">
      <span class="pill">Dashboard</span>
    </div>

  </div>

</ion-content>
